<Spider>
    <Name>abibino-lab github profile</Name>
    <Description>(HTML dynamic rule example) File download test [https://github.com/abibino-lab]</Description>
    <!-- Pausetime is 0, indicating the pause time set using the user interface -->
    <Pausetime>0</Pausetime>
    <!-- EnableLimit is false, that the default use of the number of requests as the operator interface to capture the upper limit of the control -->
    <EnableLimit>false</EnableLimit>
    <!-- EnableCookie is false, that does not cache cookies, so the software will automatically replace User-Agent -->
    <EnableCookie>false</EnableCookie>
    <!-- EnableKeyIn is false, indicating that custom configuration information from the interface is not used -->
    <EnableKeyIn>false</EnableKeyIn>
    <!-- NotDefaultField is true, the default fields that do not output text results, such as currentLink, parentLink, downloadTime -->
    <NotDefaultField>true</NotDefaultField>
    <!-- Namespace The result of the output of the path or database, form name -->
    <Namespace>
        <Script></Script>
    </Namespace>
    <!-- SubNamespace Adjusts the output path or database, form name based on the result data -->
    <SubNamespace>
        <Script></Script>
    </SubNamespace>
    <!-- Root The entry for the collection rule -->
    <Root>
        <Script param="ctx">
        ctx.JsAddQueue({
            URL: "https://github.com/abibino-lab",
            Rule: "github"
        });
        </Script>
    </Root>
    <!-- Rule for each rule branch, there can be multiple -->
    <Rule name="github">
        <ParseFunc>
            <Script param="ctx">
            // Print log
            ctx.Log().Debug("abibino-lab's github URL: %v", ctx.GetURL());
            // ctx.FileOutput()Direct output file, optional parameters are empty according to url automatically determine the file name
            ctx.FileOutput();
            </Script>
        </ParseFunc>
    </Rule>
</Spider>